/* Style file for all components */


body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: black;
}

body{
    padding-top: 15px;
    background-color:ghostwhite;
    text-align: center;
    cursor: url("/src/visual resources/PickleCursor.cur"),pointer;
    
}

@font-face {
    font-family: 'get_schwifty';
    src: url('/fonts/get_schwifty.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

.mainTitle{
    font-family: 'get_schwifty' , 'Arial, Helvetica, sans-serif';
    color: rgb(0, 87, 25);
    font-size: 150px;
}

.Rick{
    color: rgb(88, 253, 135);
}
.and{
    font-size: 75px;
    color:rgba(237, 255, 174, 0.78);
}
.Morty{
    color:rgb(129, 49, 187);
}


.secTitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;
}


#AppNav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    
}

#Home_btn{
    font-weight: bold;
    cursor: url("/src/visual resources/Rick.cur"),pointer;
    font-size: 15px;
    width: 120px;
}
#Watch_btn{
    font-weight: bold;
    cursor: url("/src/visual resources/Mr.Meseeks.cur"),pointer;
    font-size: 15px;
    width: 120px;
}
#About_btn{
    font-weight: bold;
    cursor: url("/src/visual resources/Morty.cur"),pointer;
    font-size: 15px;
    width: 120px;
}
#Home_btn:hover{
    font-family: 'get_schwifty' , 'Arial, Helvetica, sans-serif';
    background-color:lightgreen;
    color: rgb(2, 61, 2);
}
#WatchList_btn:hover{
    font-family: 'get_schwifty' , 'Arial, Helvetica, sans-serif';
    background-color:lightskyblue;
    color: rgb(179, 82, 2);

}
#Watch_btn:hover{
    font-family: 'get_schwifty' , 'Arial, Helvetica, sans-serif';
    background-color:lightskyblue;
    color: rgb(179, 82, 2);
}
#About_btn:hover{
    font-family: 'get_schwifty' , 'Arial, Helvetica, sans-serif';
    background-color:rgb(255, 203, 59);
    color:#221d21;

}

.Clock{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: greenyellow;
    font-weight: light;
    font-size: 17px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 50px;
}

.Clock:hover{
    color: orange;
}