/* Style file for all components */


body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Oswald';
}

body{
    padding-top: 15px;
    background-color: #140c2c;
    text-align: center;
    cursor: url("/src/visual resources/PickleCursor.cur"),pointer;
    
}

@font-face {
    font-family: 'get_schwifty';
    src: url('/fonts/get_schwifty.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

.mainTitle{
    position: relative;
    font-family: 'get_schwifty' , 'Arial, Helvetica, sans-serif';
    color: palegreen;
    font-size: 150px;
}

.Rick{
    color: palegreen;
}
.and{
    font-size: 75px;
    color:floralwhite;
}
.Morty{
    color:gold;
}


.secTitle{
    font-size: 20px;
    font-family: 'Oswald';
    color: rgb(255, 232, 57);
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;
}


#AppNav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    
}

#Home_btn{
    font-weight: bold;
    background-color:darkseagreen;
    cursor: url("/src/visual resources/Rick.cur"),pointer;
    font-size: 20px;
    width: 120px;
    font-family: 'Acme';
}
#Watch_btn{
    font-weight: bold;
    background-color:lightblue;
    cursor: url("/src/visual resources/Mr.Meseeks.cur"),pointer;
    font-size: 20px;
    width: 120px;
    font-family: 'Acme';
}
#About_btn{
    font-weight: bold;
    background-color:rgb(244, 207, 113);
    cursor: url("/src/visual resources/Morty.cur"),pointer;
    font-size: 20px;
    width: 120px;
    font-family: 'Acme';
}
#Home_btn:hover{
    font-family: 'get_schwifty' , 'Arial, Helvetica, sans-serif';
    background-color:lightgreen;
    color: rgb(2, 61, 2);
}
#Watch_btn:hover{
    font-family: 'get_schwifty' , 'Arial, Helvetica, sans-serif';
    background-color:lightskyblue;
    color: rgb(255, 117, 62);
}
#About_btn:hover{
    font-family: 'get_schwifty' , 'Arial, Helvetica, sans-serif';
    background-color:rgb(255, 148, 17);
    color:#540700;

}

.Clock{
    position: relative;
    font-family:'Acme';
    color: greenyellow;
    font-weight: light;
    font-size: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 50px;
}

.Clock:hover{
    color: white;
}